@mixin flexbox($direction, $align) {
  display: flex;
  justify-content: space-between;
  flex-direction: $direction;
  align-items: $align;
}

@mixin rotateHover($angle) {
  @keyframes rotate-button {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-#{$angle}deg);
    }
    100% {
      transform: rotate(#{$angle}deg);
    }
  }

  &[disabled]:hover {
    cursor: not-allowed;
  }
  &:hover:not([disabled]) {
    animation: rotate-button 0.3s ease-in-out forwards infinite;
  }
}

$section-width: (
  "768": 55%,
  "600": 65%,
  "480": 75%,
  "360": 85%,
);
